# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/ProjectSettings.json
.gitignore
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ecoc-app/v17/.wsuo
.vs/ecoc-app/v17/DocumentLayout.json
.vs/ecoc-app/FileContentIndex/3ad98480-56a6-4d89-9c66-fe3c797b80d9.vsidx
