<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="0" [style.width.px]="menuWidth" class="example-sidenav">
      <mat-toolbar fxLayout="row" class="logo-toolbar">
        <a style="margin-left: 8px;" (click)="onLogoClick()" routerLink=".">
          <img src="eurofins-logo-white.svg" height="22" alt="eurofins-logo">
        </a>
        <span class="example-spacer"></span>
        <button mat-icon-button style="color: white;">
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
      </mat-toolbar>
      <div class="nav-menu-content">
        <mat-nav-list>
          @for (nav of fillerNav; track nav) {
          <a mat-list-item routerLink="/dashboard" routerLinkActive="active"><span
              style="color: white !important;">{{nav}}</span></a>
          }
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="example-toolbar">
        <span>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
          <span>My App</span>
        </span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>

      <div class="router-container" cdkScrollable>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
