/* You can add global styles to this file, and also import other style files */

html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  columns: rgb(242, 242, 242);
  overflow-y: visible;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
  visibility: hidden;
}

:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px 15px rgba(117,117,117, 0.5);
  border: solid 5px transparent;
  border-radius: 13px;
  visibility: visible;
}

:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 15px 15px rgb(0,96,141);
  border: solid 5px transparent;
  border-radius: 13px;
  visibility: visible;
}

:hover::-webkit-scrollbar-button {
  height: 5px;
  display: block;
  background-color: transparent;
  visibility: visible;
}
